body {
    font-family: sans-serif;
}

header {
    background-color: #acb78e;
    padding: 20px;
}

header img {
    width: 250px;
    height: 150px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

p img {
    height: 300px;
    width: 300px;
}

 p {
    font-family: sans-serif; 
    font-size: 40pt;
    color: white; 
 }

 a {
     color: black;
     font-size: 25px;
     border-radius: 1000px;
     text-decoration: none;
     border: 5px solid green;
    padding: 2px;  
 }

 .about {
    margin-bottom: 10px;
}

 table {
border-spacing: 0 10px;
font-family: sans-serif;
font-weight: bold;
}

td {
padding: 10px 20px;
background: #56433D;
color: #F9C941;
border-right: 2px solid; 
font-size: 0.9em;
}

ol {
counter-reset: li; 
list-style: none; 
font: 14px:Lucida Sans;
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
li {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #56433D;
color: #F9C941;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}
footer {
    background-color: sandybrown
    ;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
}
