
body {
    font-family: sans-serif;
}

header {
    background-color: #acb78e;
    padding: 20px;
}

header img {
    width: 250px;
    height: 150px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

p img {
    height: 300px;
    width: 300px;
}

p {
    font-size: 25px;
}

a {
     color: black;
     font-size: 25px;
     border-radius: 1000px;
     text-decoration: none;
     border: 5px solid green;
    padding: 2px;  
 }

footer {
    background-color: sandybrown
    ;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
}
.about {
    margin-bottom: 10px;
}
